<div class="side-navbar">
    <a href="#" class="logo">iOFINANCE</a>
    <div class="nav-menu">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Transactions</a></li>
            <li><a href="#">Accounts</a></li>
            <li><a href="#">Payments</a></li>
            <li><a href="#">Invoices</a></li>
            <li><a href="#">Reports</a></li>
            <li><a href="#">Settings</a></li>
        </ul>
    </div>
    <div class="accounts">
        <h4>Accounts</h4>
        <ul>
            <li><a href="#">Card xxxx-8004</a></li>
            <li><a href="#">Card xxxx-1902</a></li>
            <li><a href="#">Card xxxx-1804</a></li>
        </ul>
    </div>
</div> 
    