.side-navbar {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
}

.side-navbar a {
    text-decoration: none;
    color: rgb(17, 17, 17);
}

.side-navbar a.logo {
    font-weight: bold;
    font-size: 1.3em;
    color: rgb(231, 173, 13);
    margin: 1em auto;
}

.nav-menu ul {
   margin: 0;
   padding: 0;
}

.nav-menu ul li, .accounts ul li {
    text-align: center;
}

.nav-menu ul li a {
    padding: 1em;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    outline: none;
}

.accounts h4{
    color: rgb(189, 183, 183);
    margin: 1em 0 0 2em;
}

.accounts ul {
    margin-top: 1em;
    padding: 0;
}

.accounts ul li a {
    padding: 1em;
    display: block;
    font-weight: bold;
    outline: none;
}

.nav-menu ul li a:hover, .accounts ul li a:hover {
    background-color: rgb(194, 203, 204);
}