@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-size: 1em;
}

